<div fxLayout="column" fxLayoutAlign="start stretch" class="width-100 height-100">
  <div fxLayout="row" fxLayoutAlign="start stretch" class="homeHeader" style="height: 10%;">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="assets/Xbox.png" style="width:5em; height: 4em">
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="width-100">
      <mat-form-field appearance="outline" style="width:80%">
        <input matInput placeholder="Search" (input)="updateOptions($event.target.value)" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption (optionSelected)="onCheck($event)" #auto="matAutocomplete">
          <mat-option *ngFor="let option of searchList" [value]="option.title">{{option.title}}</mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" (click)="goCart()">
      <div fxLayout="row" fxLayoutAlign="start stretch" style="position:relative">
        <div fxLayout="row" fxLayoutAlign="center center" class="cartIcon">
          <span>{{prodServ.cartList.length}}</span>
        </div>
        <img src="assets/cart.png" style="width:2em; height: 2em">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start stretch" style="padding: 1em">
      <img src="assets/profile.png" style="width:3em; height: 3em" [matMenuTriggerFor]="menu">
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>My Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>
  <div fxLayout="column" fxLayoutAlign="start stretch" style="height: 90%;">
    <div fxLayout="row" fxLayoutAlign="space-evenly center" style="height: 2em; margin: 1em 0">
      <div fxLayout="column" fxLayoutAlign="start stretch" style="height:100%" *ngFor="let option of categoryList">
            <button style="width:10em; height:100%" (click)="gotoCat(option)" class="catList">{{option}}</button>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch" style="overflow: auto; height: calc(100% - 2em);">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
